@keyframes spinner {
    50% {
        opacity: .6;
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes showToast {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }

    30% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showModal {
    0% {
        opacity: .5;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}