.primary-btn {
    background-color: var(--brand100);
    border: 1px solid var(--brand100);
    border-radius: var(--radius-1);
    padding: 0 1rem;
    height: 2.375rem;
    font-family: var(--font-family-1);
    color: var(--gray900);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease-out;
}

.primary-btn:is(:hover, :focus) {
    background-color: var(--brand200);
    border: 1px solid var(--brand200);
}

.grey-btn {
    background-color: var(--gray600);
    border: 1px solid var(--gray600);
    border-radius: var(--radius-1);
    padding: 0 1rem;
    height: 2.375rem;
    font-family: var(--font-family-1);
    color: var(--gray400);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.grey-btn:is(:hover, :focus) {
    color: var(--gray300);
}

.alert-btn {
    background-color: var(--alert100);
    border: 1px solid var(--alert100);
    border-radius: var(--radius-1);
    padding: 0 1rem;
    height: 2.375rem;
    font-family: var(--font-family-1);
    color: var(--gray900);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease-out;
}


.alert-btn:is(:hover, :focus) {
    background-color: var(--alert200);
    border: 1px solid var(--alert200);
}

.outline-btn {
    background-color: transparent;
    border: 1px solid var(--gray600);
    border-radius: var(--radius-1);
    padding: 0 1rem;
    height: 2.375rem;
    font-family: var(--font-family-1);
    color: var(--gray100);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.outline-btn:is(:hover, :focus) {
    background-color: var(--gray800);
}

.medium-btn {
    background-color: var(--gray700);
    border: 1px solid var(--gray700);
    border-radius: var(--radius-1);
    padding: 0 .5rem;
    height: 2rem;
    font-family: var(--font-family-1);
    color: var(--gray400);
    font-weight: 500;
    font-size: .875rem;
    cursor: pointer;
}

.medium-btn:is(:hover, :focus) {
    background-color: var(--gray600);
    border: 1px solid var(--gray600);
    color: var(--gray300);
}

.link {
    color: var(--brand100);
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.link:is(:hover, :focus) {
    color: var(--brand200);
    text-decoration: underline;
}

.loading {
    position: relative;
    color: transparent;
    user-select: none;
    cursor: default;
}

.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: url(../img/spinner.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    animation: spinner 1.2s cubic-bezier(0.58, 0.75, 1, 1) infinite;
}

.exit-btn {
    height: 62px;
    border: none;
    background-color: #FCFEFF;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--font-family-1);
    color: var(--gray400);
    background-image: url(../img/sign-out-alt.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 17px;
    cursor: pointer;
    transition: all .3s;
}

.exit-btn:hover {
    background-color: var(--gray700);
    color: var(--gray100);
    background-image: url(../img/sign-out-active.svg);
}

.close-btn {
    width: 38px;
    height: 32px;
    padding: 4px 14px;
    background-color: #E9ECEF;
    border-radius: var(--radius-1);
    border: none;
    background-image: url(../img/X.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background .3s;
}

.close-btn:hover {
    background-color: #e9ecefd5;
}