.modal {
    position: fixed;
    top: 0;
    background: rgba(30, 30, 30, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    position: absolute;
    background-color: var(--gray900);
    top: 50px;
    width: 800px;
    padding: 2rem 1.5rem;
    border-radius: var(--radius-0);
}

.header-modal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-modal h3 {
    font-weight: 500;
    font-size: 20px;
    color: var(--gray100);
}

.modal-body h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #212529;
    margin-bottom: 22px;
}

.modal-body p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
}

.modal-body form {
    display: flex;
    flex-direction: column;
}

.modal-body label {
    margin-bottom: 11px;
}

.modal-body input {
    margin-bottom: 25px;
}

.modal-body textarea {
    font-family: var(--font-family-1);
    width: 100%;
    height: 120px;
    padding: .625rem 1.0625rem;
    resize: none;
    margin-bottom: 40px;
}

.modal-body .edit-textarea {
    height: 300px;
}

.action-tools {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.action-tools button {
    padding: .4375rem 1.25rem;
    height: 38px;
}

.delete-tools {
    display: flex;
    align-items: center;
    margin-top: 46px;
    gap: 16px;
}

.delete-tools button {
    padding: .4375rem 1.25rem;
    height: 38px;
}