.toast {
    position: fixed;
    user-select: none;
    bottom: 20px;
    right: 20px;
    width: 28.725rem;
    height: 7.8125rem;
    background: var(--gray900);
    box-shadow: 0px 4px 30px -12px rgba(0, 0, 0, 0.379);
    border-radius: var(--radius-1);
    padding: 1.3125rem 2rem;
    animation: showToast 2.5s ease-out;
}

.toast .toast-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 1.0625rem;
}

.toast .toast-header h3 {
    color: var(--sucess100);
    font-weight: 600;
    font-size: 16px;
}

.toast p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray200);
}

.toast a {
    display: inline;
    font-weight: 400;
    font-size: 14px;
}

.close-toast {
    animation: showToast 2.5s ease-out reverse;
}